  <h1>Articles</h1>

<div id = "container">
            <ol>

                {{#each articles}} 
                <ul>
                    
                    <a href = "{{link}}" target = "_blank"><h4>{{title}}</h4></a>
                   
                  <p data-id = {{this.id}} + {{this.title}} + {{this.link}}>  {{summary}} </p>
                    
                </ul>
              {{/each}}

            </ol>
</div>
            <div id="notes"></div>